.masthead .btn--inverse {
  border-color: transparent !important;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead .btn--inverse {
  border-color: transparent !important;
}
